 

/* Up is deletable*/


.graph-container {
  width: 75%;
  margin-top: 15em;
  margin: auto;
}


.line-graph {
  float: left;
  margin-top: 15em;
}

.doughnut-graph {
  float: right;
  margin-top: 15em;
}

.positive-hourly {
  color: green;
}

.negative-hourly {
  color: red;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms linear;
}

.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms linear;
}
