.app {
  min-height: 100vh;
  position: relative;
}

.wrapper {
  min-height: 67.5vh;
}

.main {
  text-align: center;
}

.footer {
  margin: 0;
  min-height: 20vh;
}

.Link-color {
  color: black;
}

.inbox-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  width: 1em;
  padding: 1px 3px;
  font-size: 1em;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 2.3em;
  left: .5em;
}

.margin-top {
  margin-top: 5em;
}

.margin-bottom {
  margin-bottom: 5em;
}

.deposit-withdraw {
  width: 80vw;
  margin: 5em auto;
}

.user-card-frame {
  height: 10em;
  overflow: hidden;
  margin-bottom: 1em;
}

p,h1,h2,h3,h4 {
  color: white;

}

ui header, h1.ui.header, h2.ui.header, h3.ui.header, h4.ui.header, h5.ui.header{
  color: white;
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 300;
}

.ui[class*="top fixed"].menu {
  background-color: #343846;
  /* background-color: #bfbfbf; */
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url],.ui.table, .ui.input>input  {
  background-color: #292938;
  color: grey;
}

.ui.table thead tr>th {
  background-color: #292938;
}

.ui.table  {
  background-color: #434356;
  color: white;
}

.ui.card{
  background-color: #313146;
}

.ui.card>.extra {
  background-color: #2c2c3e;
}

.ui.large.modal>.header, .ui.message {
  background-color: grey;
}

.ui.modal>.content, .ui.modal>.actions, .ui.stacked.segment {
  background-color: gainsboro;
}

.ui.blue.button {
  color: white;
  background-color: grey;
}

.userInfo{
  border: solid 3px;
  border-color: #ffffff;
  border-radius: 16px;
  padding: 35px 0px 35px 0px;
  /* margin: 3px 14px 3px 3px; */
  margin-top: 5px;
  border-width: 1px;
}

.ui.card>.content>.header, .cardUserName {
  color: white;
}

.ui.grey.label, .ui.green.label, button, i.icon.plus, i.icon.minus, i.icon.dollar.sign, i.icon.user.outline, i.icon.map.marker.alternate, i.icon.dashboard {
    opacity: 0.50;
}

.ui.grey.label:hover ,.ui.green.label:hover, button:hover, i.icon.plus:hover, i.icon.minus:hover, i.icon.dollar.sign:hover, i.icon.user.outline:hover, i.icon.map.marker.alternate:hover, i.icon.dashboard:hover {
    opacity: 1;
}

.ui.segment.bankDepositWithdraw, ui.blue.center.aligned.header {
  color: white;
}

.ui[class*="internally celled"].grid>.row>.column:first-child, .ui.grid>[class*="equal width"].row>.column, .ui[class*="equal width"].grid>.column:not(.row), .ui[class*="equal width"].grid>.row>.column {
  color: white;
}

.ui.menu .ui.dropdown.item .menu .item, ui header {
  color: black;
}
