.App-header {
  background-color: WHITE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Link-color {
  color: black;
}

.Container-Text-Style {
  text-align: center;
}

.inbox-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  width: 1em;
  padding: 1px 3px;
  font-size: 1em;
  position: absolute; /* Position the badge within the relatively positioned button */
  top: 2.3em;
  left: .5em;
}
